.card {
    width: 25%;
}

.card-body {
    margin-top: 20px;
}

.li-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px; 
    padding-top: 20px;
    height: 100%;
    border: 1px solid gray;
    padding: 10px;
}
 
.li-title {
}

.li-date {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.list-item {
    margin-left: 30px;
    align-content: center;
}

.li-button {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.li-del {
    background-color: transparent;
    color: white;
    border: none;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.li-completed {
    background-color: green;
}

.add-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.add-item-field {
    width: 70%;
    margin-right: 10px;
}

.add-item-btn {
    width: 30%;
    background-color: blue;
    color: white;
    border: none;
}
